@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

:root {
    --normal: 400;
    --heavy: 600;

    --offwhite: #fafafa;
    --gray: #777;
    
}
body {
    font-family: Barlow, sans-serif;
    line-height: 1.4;
    font-size: 100%;
    background: var(--offwhite);
}
h1, h2, h3, p {
    margin: 0;
}
.btn {
    border: 0;
    background: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex__half {
    width: 50%;
}
.flex__full {
    width: 100%;
}
.App {    
    color: #fff;
    padding-bottom: 2rem;
    position: relative;
}
.search {
    padding: 1rem 2rem;
    display: flex;
    position: relative;
}
.search__input {
    border: 0;
    background: 0;
    font-weight: var(--heavy);
    flex: 1 0 auto;
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    border-bottom: 1px solid #ffffff22;
}
.search__submit {
    opacity: .5;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.current {
    padding: 0 2rem 1rem;    
    margin-bottom: 1rem;;
    position: relative;
}
.baloon {
    content: "";
    position: absolute;
    background: #ffffff11;
    border-radius: 50%;    
    width: 45vmax;
    height: 45vmax;        
    animation: float 20s ease-in-out infinite alternate;    
    pointer-events: none;
}
@keyframes float {
    0% {
        transform: scale(1.3);        
        opacity: .8;
    }
    40% {
        transform: translate(20%, 30%);
        opacity: 1;
    }
    100% {
        transform: scale(.8);        
        transform: translate(10%, 40%);
        opacity: .9;
    }
}
.current__display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.current__image {
    margin-right: 1rem;   
    text-align: center;    
    opacity: .9;
}
.current__temp {    
    font-size: 2.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;        
}
.current__desc {
    text-align: center;
}
.current__feels {
    text-align: center;
}
.current__time {
    text-align: center;
    background: #ffffff33;
    display: table;
    padding: 2px 8px;
    border-radius: 8px;
    margin: 0 auto 1rem;
    font-size: .9rem;
}
.current__image {
    font-size: 3rem;
}
.fcast-card {
    margin: .5rem .5rem;
    background: #ffffff66;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    color: #303030;
    cursor: pointer;
}
.fcast-card__main {
    width: 60%;
    justify-content: center;
    align-items: center;
}
.fcast-card__image {
    font-size: 2.5rem;
    margin-right: .75rem;
}
.fcast-card__maintemp {
    font-size: 1rem;    
}
.fcast-card__date {
    width: 20%;
}
.fcast-card__more {
    width: 20%;
}
.fcast-card__maindesc {
    line-height: 1;
}
.fcast__extra {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
}
.fcast__label {
    font-size: .9rem;
    opacity: .8;
    line-height: 1;
}
.collapsable {
    transition: all .5s ease;
}
.collapsable.close {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.collapsable.open {
    max-height: 1000px;
    opacity: 1;
}
@media screen and (min-width: 760px) {
    .App {
        padding: 10% 5%;
    }
    .lg-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .lg-flex__half {
        width: 50%;
    }
    .lg-flex__full {
        width: 100%;
    }
    .current {
        margin-top: 2rem;
    }
    .current__image {
        font-size: 5rem;
    }
    .current__display {
        margin: 1rem 0;
    }
    .fcast__extra {
        width: 80%;
    }
    @keyframes float {
        0% {
            transform: scale(1.3);        
            opacity: .8;
            transform: translate(50%, -15%);
        }
        40% {
            transform: translate(20%, -5%);
            opacity: 1;
        }
        100% {
            transform: scale(.8);        
            transform: translate(60%, 0%);
            opacity: .9;
        }
    }
}