/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Vollkorn:wght@500&display=swap');

:root {
    --normal: 400;
    --heavy: 600;

    --offwhite: #fafafa;
    --gray: #777;
    
}
body {
    font-family: Barlow, sans-serif;
    line-height: 1.4;
    font-size: 100%;    
}
h1, h2, h3, p {
    margin: 0;
}
.btn {
    border: 0;
    background: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex__half {
    width: 50%;
}
.flex__full {
    width: 100%;
}
.App {    
    color: #fff;
    padding-bottom: 2rem;
    position: relative;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg__image {
    background: url('../img/clouds_1.jpg');
    background-size: cover;
    height: 100%;
    animation: float-sky 12s ease 0s infinite alternate-reverse; 
}
.bg__gradient {  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;           
    transition: all .5s ease;    
}

@keyframes float-sky {
    0% {
        transform: scale(1.1) translateX(0%);
    }    
    100% {
        transform: scale(1.4) translateX(5%);
    }
}
.search {
    padding: 1rem 2rem;
    display: flex;
    position: relative;
}
.search__input {
    border: 0;
    background: 0;    
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    border-bottom: 1px solid #ffffff22;
    font-size: 2rem;
    font-family: Vollkorn;
    font-weight: 600;
}
.search__submit {
    opacity: .5;
    position: absolute;
    right: 8%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.current {
    padding: 0 2rem 1rem;    
    margin-bottom: 1rem;;
    position: relative;
}
.current__display {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: .5rem 0 .85rem;
}
.current__image {
    margin-right: 1rem;   
    text-align: center;    
    opacity: .9;
}
.current__temp {    
    font-size: 2.85rem;
    margin-bottom: .5rem;
    line-height: 1.2;        
    font-family: Vollkorn;
}
.current__desc {
    text-align: center;    
    margin: auto;
}
.current__time {
    text-align: center;
    background: #ffffff33;
    display: table;
    padding: 2px 8px;
    border-radius: 8px;
    margin: 0 auto 1rem;
    font-size: .9rem;
}
.current__image {
    font-size: 3rem;
}
.current__not-found {
    text-align: center;
}
.time {
    display: flex;
    align-items: center;
    margin: 16px auto;
}
.time__text {
    margin-left: 4px;
}
/* .fcast {
    display: flex;
    flex-wrap: wrap;    
} */
.fcast-card {
    width: 90%;
    margin: .5rem auto;
    background: #ffffffdd;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    color: #303030;
    cursor: pointer;
}
.fcast-card__main {
    width: 60%;
    justify-content: center;
    align-items: center;
}
.fcast-card__image {
    font-size: 2.5rem;
    margin-right: .75rem;
}
.fcast-card__maintemp {
    font-size: 2rem;
    font-family: 'Vollkorn';
}
.fcast-card__date {
    width: 20%;
}
.fcast-card__more {
    width: 20%;
}
.fcast-card__maindesc {
    line-height: 1;
}
.fcast__extra {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
}
.fcast__label {
    font-size: .9rem;
    opacity: .8;
    line-height: 1;
}
.collapsable {
    transition: all .5s ease;
}
.collapsable.close {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.collapsable.open {
    max-height: 1000px;
    opacity: 1;
}
@media screen and (min-width: 760px) {
    .App {
        padding: 10% 5% 20%;        
    }
    .lg-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .lg-flex__half {
        width: 50%;
    }
    .lg-flex__full {
        width: 100%;
    }
    .search__input {
        font-size: 2.85rem;
    }    
    .current {
        margin-top: 2rem;
    }    
    .current__desc {
        font-size: 1.2rem;
    }
    .current__image {
        font-size: 5rem;
    }
    .current__display {
        margin: 2rem 0;
    }
    /* .fcast-card {
        width: 50%;
        padding: 0;
    } */
    .fcast__extra {
        width: 60%;
    }    
}